
/**
 * 故事到这里就要结束了吗？
 */

 pre:hover{
   box-shadow: 0px 0px 40px 5px rgba(255,255,255,0.4);
 }

 #skip-animation, #pause-resume {
   display: none;
 }

/**
 * 我可不希望这样,
 *
 * 毕竟才聊过了冬风夏雨,
 *
 * 还没聊到春花秋月;
 * 
 * 聊过了阳春白雪,
 *
 * 没聊过下里巴人.
 */

/**
 * 或许正该如哥哥的《春夏秋冬》所唱的那样:
 *
 * “春天该很好，你若尚在场”
 *
 * 所以，故事还远没有结束呢.
 */

.value {
  text-shadow: 0px 15px 1px none;
}

/**
 * 觉得我很有趣？相信你也懂我，希望你能开心:)
 * 
 * 别急着离开，或许你能发现背景音乐中的彩蛋？
 */


